<div th:replace="fragments/cabecalho :: cabecalho"></div>
<form th:action="@{/atendimento/editar{id}(id=*{id})}" th:object="${atendimento}" method="POST">
        <div class="row form-group">
                <div class="col-md-8">
                        <label>Descrição geral do atendimento</label>
                        <input type="text" name="descricaoTextual"
                         th:field="*{descricaoTextual}"
                         th:text="*{descricaoTextual}" readonly></input>
                        <div>
                                <textarea rows="10" cols="40" maxlength="500" readonly th:text="${eventos}">
                                </textarea>        
                        </div>
                </div>
                <div class="col-md-8">
                        <label>Atendente: <select class="form-control" th:field="*{idAtendente}">
                                        <option th:each="atopcao : ${atopcoes}"
                                        th:field="*{idAtendente}"
                                        th:value="${atopcao.id}"
                                        th:text="${atopcao.nomeCompleto}"
                                        th:selected="*{idAtendente.getId()}">
                                        </option>
                                </select></label>

                </div>
                <div class="col-md-8">
                        <label>Categoria: <select class="form-control" th:field="*{idCategoria}">
                                        <option th:each="catopcao : ${catopcoes}"
                                        th:field="*{idCategoria}"
                                        th:value="${catopcao.id}"
                                        th:text="${catopcao.titulo}"
                                        th:selected="*{idCategoria.getId()}">
                                        </option>
                                </select></label>

                </div>
                <div class="col-md-8">
                        <label>Usuário:
                                <select class="form-control" th:field="*{idUsuario}">
                                        <div th:if=*{idUsuario==null}>
                                                <option th:field="*{idUsuario}" th:value="null">Selecione um usuario </option>
                                                <option th:each="usinopcao : ${usinopcoes}" 
                                                th:field="*{idUsuario}"
                                                th:value="${usinopcao.id}"
                                                th:text="${usinopcao.nomeCompleto}"></option>
                                        </div>
                                        <div th:unless=*{idUsuario==null}>
                                                <option th:field="*{idUsuario}" th:value="null">Selecione um usuario </option>
                                                <option th:each="usinopcao : ${usinopcoes}" 
                                                th:field="*{idUsuario}"
                                                th:value="${usinopcao.id}"
                                                th:text="${usinopcao.nomeCompleto}"
                                                th:selected="*{idUsuario.getId()}"></option>
                                        </div>
                                </select>
                        </label>                
                </div>
                <div class="col-md-6">
                        <label>Acrescentar Descrição Textual</label>
                        <input type="text" name="novaDescricaoTextual" class="form-control"/>
                </div> 
                <div class="col-md-8">
                        <label>Usuário: <select class="form-control" th:field="*{status}">
                                <option th:field="*{status}"
                                th:value="Aberto">Aberto</option>
                                <option th:field="*{status}"
                                th:value="Bloqueado">Bloqueado</option> 
                                <option th:field="*{status}"
                                th:value="EmAndamento">Em Andamento</option>
                                <option th:field="*{status}"
                                th:value="Fechado">Fechado</option> 
                            </select></label>
                
                </div>
            
        </div>
        <button type="submit" class="btn btn-info">Salvar</button>
        <button type="reset" class="btn btn-secondary">Limpar</button>
        <a th:href="@{/atendimento/listar.html}" class="btn btn-dark">Cancelar</a> 
    
</form>
    
    <div th:replace="fragments/rodape :: rodape"></div>