<div th:replace="fragments/cabecalhoatendente :: cabecalhoatendente"></div>
<h4>Crie sua conta Atendente</h4>

<form th:action="@{/atendente/nova.html}" th:object="${atendente}" method="POST">
    <div class=" row form-group">
        <div class="col-md-6">
            <label>Nome Completo</label>
                <input type="text" name="nomeCompleto" class="form-control" th:field="*{nomeCompleto}" />
            <strong th:if="${#fields.hasErrors('nomeCompleto')}" th:errors="*{nomeCompleto}"></strong>
        </div> 
    </div>
    <div class=" row form-group">
            <div class="col-md-6">
                <label>Codigo para seu Acesso</label>
                <input type="text" name="codigoAcesso" readonly=“true” class="form-control" th:field="*{codigoAcesso}"/>
                <strong th:if="${#fields.hasErrors('codigoAcesso')}" th:errors="*{codigoAcesso}"></strong>
            </div>
    </div>
    <div class=" row form-group">
            <div class="col-md-6">
                    <label>Telefone Fixo</label>
                    <input type="text" name="telefone" class="form-control" th:field="*{telefone}"/>
                    <strong th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></strong>
            </div>
    </div>

    <div class=" row form-group">
     <div class="col-md-6">
            <label>Telefone Celular</label>
             <input type="text" name="celular" class="form-control" th:field="*{celular}"/>
             <strong th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}"></strong>
    </div>
        </div>

    <div class=" row form-group">
        <div class="col-md-6">
            <label>E-mail</label>
            <input type="text" name="email" class="form-control" th:field="*{email}">
            <strong th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></strong>
        </div>
    </div>
    
    <button type="submit" class="btn btn-info">Salvar</button>
    <button type="reset" class="btn btn-secondary">Limpar</button>
    <a th:href="@{/login.html}" class="btn btn-dark">Cancelar</a> 
</form>



<div th:replace="fragments/rodape :: rodape"></div>