<div th:replace="fragments/cabecalho :: cabecalho"></div>


<div class="panel panel-default" style="margin: 10px">
    <div class="panel-heading">
        <h5 class="panel-title">Lista de Atendimentos</h5>
    </div>
    <div class="panel-body">
        <table class="table" style = "max-width:80%;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data/Hora Criação</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="evento:${eventos}" th:object=${evento}>
                    <td th:text=*{id}></td>
                    <td th:text=*{data}></td>
                    <td th:text=*{tipo}></td>
                    <!-- <td th:text=*{eventos}></td> -->
                </tr>
            </tbody>
        </table>
        <div>
    </div>
    </div>
    <div>
    <a th:href="@{/atendimento/listar.html}"><button>Lista de Atendimentos</button></a>
    </div>
</div>

<div th:replace="fragments/rodape :: rodape"></div>