<div th:replace="fragments/cabecalho :: cabecalho"></div>

<h1>Selecione outra categoria para assumir o lugar da que deseja excluir</h1><div class="col-md-8">
    <form action="/excluir/categoria.html" method="GET">
        <label>categoria: <select class="form-control" name="idNovo">
                      <option th:each="catopcao : ${catopcoes}"
                      th:value="${catopcao.id}"
                      th:text="${catopcao.titulo}">
                      </option>
      </select></label>
      <button type="submit" name="idAntigo" th:value="${idAntigo}">Salvar</button>
      </form>  
      <a th:href="@{/categoria/listar.html}" class="btn btn-dark">Cancelar</a>
</div>
  
  <div th:replace="fragments/rodape :: rodape"></div>
