<div th:replace="fragments/cabecalho :: cabecalho"></div>
<h1>Selecione outro atendente para assumir os atendimentos do que deseja excluir</h1><div class="col-md-8">
  <form action="/excluir/atendente.html" method="GET">
      <label>Atendente: <select class="form-control" name="idNovo">
                    <option th:each="atopcao : ${atopcoes}"
                    th:value="${atopcao.id}"
                    th:text="${atopcao.nomeCompleto}">
                    </option>
    </select></label>
    <button type="submit" name="idAntigo" th:value="${idAntigo}">Salvar</button>
    </form>  
    <a th:href="@{/atendente/listar.html}" class="btn btn-dark">Cancelar</a>
</div>

  <div th:replace="fragments/rodape :: rodape"></div>
